body{
	font-family: arial, helvetica;
	background: #e0bc9a;
}
#qw{
    float: left;
border-style:inset;  
border-color: #07cf72;  
border-width: 10px;
padding:5px;
color:#f7f9f7;
width:200px;
}
.menu{
	list-style: none;
	padding: 0;
	background: #07cf72;
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

.menu li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background: #ef8354;
}

#wor{
    float: left; 
    overflow: hidden;
    border-style: inset;  
    border-color: #34eb34;  
    border-width: 3px;
    padding: 50px;
    color:#ef8354;
    width: 200px;
}
#as{
float: left;    
padding:5px;
width:20px;
}


#primero{
    float: left;
}
h4,h1{
    text-align: center;
}
h4{
    color: blueviolet;
}
.a{
    width: 100%;
    float: left;
}
.iz{
    width: 40%;
    margin-left: 60px;
    float: left;
    text-align: center;
}
.de{
    width: 40%;
    margin-right: 20px;
    float: left;
    text-align: center;
}
input,textarea{
    border-radius: 5px;
}
button{
    border-radius: 7px;
    background-color:blueviolet;
}
#segundo{
    float left;
}